@model IEnumerable<ProjectPlan.Models.Group>

@{
    ViewData["Title"] = "Posts";
}

<div>
    <h4>Posts</h4>
    <hr />
        @foreach (var item in Model)
        {
            {
                <table class="table">
            <dt>
                @Html.DisplayFor(modelItem => item.Title)
            </dt>
            <td> 
                @Html.DisplayFor(modelItem => item.Description)
            </td> 
                    
            </table>
                <table class="table">
            </table>
            
            <dt>
                Comments:
            </dt>
            @foreach (var comment in item.Comment)
            {

                <p>
                    <td>
                        @Html.DisplayFor(modelItem => comment.Body)
                    </td>
                </p>
            }
            <p><a asp-action="Comment" asp-route-id="@item.Id">Add Comment</a></p>
            }
            <p></p>
        }  
    </dl>
</div> 

<p> @ViewBag.userId</p>